@{
    var selectid_Section = Context.Request.Query["selectid"].ToInt();
    var controllerName_Section = "Section";
    var titleName_Section = "Section";
    var dt_Section = "dt_" + controllerName_Section;
}
<script>
    var selectid_Section = "@selectid_Section";
    var controllerName_Section = "@controllerName_Section";
    var titleName_Section = "@titleName_Section";
    var dt_Section = "#@dt_Section";
</script>

<div class="row">
    <div class="col-xl-12">
        <!--begin::Advance Table Widget 10-->
        <div class="card card-custom gutter-b card-stretch">
            <!--begin::Header-->
            <div class="card-header border-0 py-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label font-weight-bolder text-dark">@Html.Raw(titleName_Section)</span>
                </h3>
                <div class="card-toolbar">
                    <a href="/@Html.Raw(controllerName_Section)/InsertOrUpdatePage?selectid=@selectid_Section" class="btn btn-light-primary font-weight-bolder btn-sm">New @Html.Raw(titleName_Section)</a>
                </div>
            </div>
            <!--end::Header-->
            <div class="card-body py-0">
                <div class="table-responsive">
                    <table id="@dt_Section" class="table table-bordered table-hover table-checkable">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        getGrid();
        function getGrid() {
            var columns = [];
            columns.push({ "data": "Id", text: "ID" });
            columns.push({ "data": "OrderNo", text: "OrderNo" });
            columns.push({ "data": "Name", text: "Name" });
            columns.push({ "data": "Definition", text: "Definition" });
            columns.push({ "data": "WorkName", text: "WorkName" });

            columns.push({ "data": "Detail", text: "Detail" });

            $.each(columns, function (i, item) {
                $(dt_Section + ' thead tr').append('<td> ' + item.text + '</td > ');
            });
            var table = $(dt_Section).DataTable({
                "ajax": {
                    "url": '/' + controllerName_Section + '/GetPaging',
                    "type": "POST",
                    "datatype": "json",
                    "data": function (searchModel) {
                        $(dt_Section).LoadingOverlay("show");
                        searchModel.selectid = selectid_Section;
                    },
                    "dataSrc": function (json) {
                        return_data = new Array();
                        var data = json.data;
                        $.each(data, function (i, row) {
                            var detail = '<a class="btn btn-sm btn-clean btn-icon btn-icon-md" href="/' + controllerName_Section + '/InsertOrUpdatePage?id=' + row.Id + '&selecttype=' + selectid_Section + '" title="Edit"><i class="la la-edit"></i></a>';
                            detail += '<a target="_blank" class="btn btn-sm btn-clean btn-icon btn-icon-md" href="/Content/Index?selectid=' + row.Id + '" title="Contents"><i class="fas fa-plus"></i></a>';

                            return_data.push({
                                'Id': row.Id,
                                'OrderNo': row.OrderNo,
                                'Name': row.Name,
                                'Definition': row.Definition,
                                'WorkName': row.Workshop?.Name,

                                'Detail': detail,
                            });

                        });
                        $(dt_Section).LoadingOverlay("hide");
                        return return_data;
                    }
                },
                "fnDrawCallback": function (settings, json) {

                    $('.dt-buttons').css('float', 'right');
                    $('.dt-buttons').css('margin-left', '20px');
                    $('.dt-buttons').css('margin-top', '16px');

                    $(table).LoadingOverlay("hide");
                    ayarlar();
                },
                "destroy": true,
                "caseInsensitive": true,
                "responsive": true,
                "pageLength": 10,
                "DisplayLength": 10,
                "lengthMenu": [[10, 25, 100, 1000, 2500, 5000], [10, 25, 100, 1000, 2500, 5000]],
                "lengthChange": true,
                "processing": true,
                "columns": columns,
                "order": [[1, "asc"]],
                rowReorder: true,
                columnDefs: [
                    { orderable: true, className: 'reorder', targets: 0 },
                    { orderable: false, targets: '_all' }
                ],
            });


            table.on(dt_Section + ' row-reorder.dt', function (dragEvent, diff, nodes) {
                var myArray = [];
                for (var i = 0, ien = diff.length; i < ien; i++) {
                    var rowData = table.row(diff[i].node).data(); myArray.push({ id: rowData.Id, dataid: selectid_Section, OrderNo: diff[i].newPosition });
                }
                $.ajx('/' + dt_Section + '/UpdateOrder', { postModel: myArray }, function (resultData) { table.ajax.reload(); $(table).LoadingOverlay("hide"); });
            });



        }

    });
</script>