@{
    var selectid_Content = Context.Request.Query["selectid"].ToInt();
    var controllerName_Content = "Content";
    var titleName_Content = "Content";
    var dt_Content = "dt_" + controllerName_Content;

}
<script>
    var selectid_Content = "@selectid_Content";
    var controllerName_Content = "@controllerName_Content";
    var titleName_Content = "@titleName_Content";
    var dt_Content = "#@dt_Content";
</script>

<div class="row">
    <div class="col-xl-12">
        <!--begin::Advance Table Widget 10-->
        <div class="card card-custom gutter-b card-stretch">
            <!--begin::Header-->
            <div class="card-header border-0 py-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label font-weight-bolder text-dark">@Html.Raw(titleName_Content)</span>
                </h3>
                <div class="card-toolbar">
                    <a href="/@Html.Raw(controllerName_Content)/InsertOrUpdatePage?selectid=@selectid_Content" class="btn btn-light-primary font-weight-bolder btn-sm">New @Html.Raw(titleName_Content)</a>
                </div>
            </div>
            <!--end::Header-->
            <div class="card-body py-0">
                <div class="table-responsive">
                    <table id="@dt_Content" class="table table-bordered table-hover table-checkable">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(function () {
        getGrid();
        function getGrid() {
            var columns = [];
            columns.push({ "data": "Id", text: "ID" });
            columns.push({ "data": "ContentData", text: "ContentData" });

            columns.push({ "data": "Detail", text: "Detail" });

            $.each(columns, function (i, item) {
                $(dt_Content + ' thead tr').append('<td> ' + item.text + '</td > ');
            });

            var table = $(dt_Content).DataTable({
                "ajax": {
                    "url": '/' + controllerName_Content + '/GetPaging',
                    "type": "POST",
                    "datatype": "json",
                    "data": function (searchModel) {
                        $(dt_Content).LoadingOverlay("show");
                        searchModel.selectid = selectid_Content;
                        debugger;
                    },
                    "dataSrc": function (json) {
                        return_data = new Array();
                        var data = json.data;

                        $.each(data, function (i, row) {
                            var detail = '<a class="btn btn-sm btn-clean btn-icon btn-icon-md" href="/' + controllerName_Content + '/InsertOrUpdatePage?id=' + row.Id + '&' + 'selectid=' + row.Id + '" title="Edit"><i class="la la-edit"></i></a>';
                            return_data.push({
                                'Id': row.Id,
                                'ContentData': row.ContentData,
                                'Detail': detail,
                            });

                        });
                        $(dt_Content).LoadingOverlay("hide");
                        return return_data;
                    }
                },
                "fnDrawCallback": function (settings, json) {

                    $('.dt-buttons').css('float', 'right');
                    $('.dt-buttons').css('margin-left', '20px');
                    $('.dt-buttons').css('margin-top', '16px');

                    $(dt_Content).LoadingOverlay("hide");
                    ayarlar();
                },
                "destroy": true,
                "caseInsensitive": true,
                "responsive": true,
                "pageLength": 100,
                "DisplayLength": 5,
                "lengthMenu": [[100, 25, 100, 1000, 2500, 5000], [100, 25, 100, 1000, 2500, 5000]],
                "lengthChange": true,
                "processing": true,
                "columns": columns,
                "order": [[0, "desc"]],
                rowReorder: true,
                columnDefs: [
                    { orderable: true, className: 'reorder', targets: 0 },
                    { orderable: false, targets: '_all' }
                ],

            });


            table.on(dt_Content + ' row-reorder.dt', function (dragEvent, diff, nodes) {
                var myArray = [];
                for (var i = 0, ien = diff.length; i < ien; i++) {
                    var rowData = table.row(diff[i].node).data(); myArray.push({ id: rowData.Id, OrderNo: diff[i].newPosition, dataid:selectid_Content });
                }
                $.ajx('/' + controllerName_Content + '/UpdateOrder', { postModel: myArray }, function (resultData) { table.ajax.reload(); $(table).LoadingOverlay("hide"); });

            });

        }



    });
</script>